<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="box float-left w-25 details-div">
        <h3>Opps! The page you are looking for is not found.</h3>
    </div>
    <a href="/" class="back-anchor">Back to Weather Home Page</a>
</body>
</html>